.err-card.mdl-card {
  width: 512px;
}
.err-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/error.jpg') center / cover;
}
.err-card > .mdl-card__menu {
  color: #fff;
}
